# Build output directory
/build/

# Install directory
/install/

# Code coverage output directory
/coverage/

# Doxygen output directory
/docs/

# Cmake droppings
/CMakeFiles/
/CMakeCache.txt

# Visual Studio
*.suo
*.user
*.userosscache
*.vcxproj.user
*.pdb
*.idb
*.ilk
*.obj
*.exe
*.log

# OS / IDE
.DS_Store
Thumbs.db
*.swp
.vscode/
.vs/